<!-- <h1>HELLO WORLD!</h1>

<button (click)="addNumber()">+LevelUp</button>
<app-child [item] ="someData"></app-child>-->
<!--<hr>
<app-father></app-father> 
<app-tags *ngFor="let t of tagArr"  [mainToTag]= "t" ></app-tags>

<h1>העברת מידע מבן לאב</h1>

<app-output1  (changeNameEvent)="chageName($event)" ></app-output1> 
<h2>Your Name is: {{name}}</h2>


<h1>Temperatur</h1>
<app-output1 (changeTempEvent)="chageTemp($event)"></app-output1>
<h2> The Temp Is: {{temp}} </h2>-->

<app-two-way></app-two-way>

<app-two-way-comp></app-two-way-comp>